In [2]:
# 231222
import pymongo
from pymongo import MongoClient

# 인증모드로 접속
conn = MongoClient("mongodb://web:1234@localhost/web")
conn

db = conn.web
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'web')

In [3]:
# 컬렉션(=테이블) 생성
students = db.students
# 데이터베이스.테이블
students

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'web'), 'students')

In [21]:
# 컬렉션에 저장된 모든 문서 제거 / 예외처리
try:
    students.drop()
except:
    print("자료가 없습니다.")

In [6]:
#예외처리 예
try: 
    emp.drop()  #emp 컬렉션을 생성하지 않은상태
except:
    print('에러발생')

print('계속처리')

에러발생
계속처리

In [22]:
# 도큐먼트 생성
row1 = {"no": 1, "name":"김철수", "kor": 90, "eng": 80, "mat": 77}
row2 = {"no": 2, "name":"박민성", "kor": 95, "eng": 83, "mat": 76}
row3 = {"no": 3, "name":"송영희", "kor": 92, "eng": 87, "mat": 75}
#row4 = {"no": 4, "name":"테스트", "kor": 90, "history": 80,}   →SQL(*정형)과 달리 기존과 다른 컬럼을 추가해도 처리가능

# 레코드 1개 추가
students.insert_one(row1)
# 테이블.레코드추가(레코드)
students.insert_one(row2)
students.insert_one(row3)
#students.insert_one(row4)

# 전체 문서 조회
rows = students.find()
for row in rows:
    print(row)

{'_id': ObjectId('6584dd45a03d7feae84000c4'), 'no': 1, 'name': '김철수', 'kor': 90, 'eng': 80, 'mat': 77}
{'_id': ObjectId('6584dd45a03d7feae84000c5'), 'no': 2, 'name': '박민성', 'kor': 95, 'eng': 83, 'mat': 76}
{'_id': ObjectId('6584dd45a03d7feae84000c6'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75}

In [23]:
# 문서 개별 삭제
students.delete_one({"no": 2})
rows = students.find()
for row in rows:
    print(row)

{'_id': ObjectId('6584dd45a03d7feae84000c4'), 'no': 1, 'name': '김철수', 'kor': 90, 'eng': 80, 'mat': 77}
{'_id': ObjectId('6584dd45a03d7feae84000c6'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75}

In [24]:
# 문서 수정
students.update_one({"no": 1}, {"$set": {"kor": 100, "eng": 100}})
#                   조건        $set   변경내용

rows = students.find()
for row in rows:
    print(row)

{'_id': ObjectId('6584dd45a03d7feae84000c4'), 'no': 1, 'name': '김철수', 'kor': 100, 'eng': 100, 'mat': 77}
{'_id': ObjectId('6584dd45a03d7feae84000c6'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75}

In [25]:
rows=students.find()
for row in rows:
    tot=row['kor']+row['eng']+row['mat']
    avg=tot/3
    if avg>=90:
        grade='A'
    elif 80<=avg<90:
        grade='B'
    elif 70<=avg<80:
        grade='C'
    elif 60<=avg<70:
        grade='D'
    else:
        grade='F'
    
    students.update_one({'no':row['no']}, {'$set':{'tot':tot, 'avg':avg, 'grade':grade}})

rows=students.find()
for row in rows:
    print(row)

{'_id': ObjectId('6584dd45a03d7feae84000c4'), 'no': 1, 'name': '김철수', 'kor': 100, 'eng': 100, 'mat': 77, 'avg': 92.33333333333333, 'grade': 'A', 'tot': 277}
{'_id': ObjectId('6584dd45a03d7feae84000c6'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75, 'avg': 84.66666666666667, 'grade': 'B', 'tot': 254}

In [29]:
rows=students.find()
print('학번\t이름\t국어\t영어\t수학\t총점\t평균\t등급')
print('='*60)
for row in rows:
    print(f"{row['no']}\t{row['name']}\t{row['kor']}\t{row['eng']}\t{row['mat']}\t{row['tot']}\t{row['avg']:.1f}\t{row['grade']}")

학번	이름	국어	영어	수학	총점	평균	등급
============================================================
1	김철수	100	100	77	277	92.3	A
3	송영희	92	87	75	254	84.7	B

In [31]:
print('조건검색')
myrow=students.find({'no':3})
#myrow=students.find()  →모든자료
for field in myrow:
    print(field)

조건검색
{'_id': ObjectId('6584dd45a03d7feae84000c4'), 'no': 1, 'name': '김철수', 'kor': 100, 'eng': 100, 'mat': 77, 'avg': 92.33333333333333, 'grade': 'A', 'tot': 277}
{'_id': ObjectId('6584dd45a03d7feae84000c6'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75, 'avg': 84.66666666666667, 'grade': 'B', 'tot': 254}